@using EntityLayer.Concreate
@model List<PlaneHotel>
@{
    Layout = null;
}

<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezervasyon Raporlama  İşlemi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">


</head>

<body class="ml-5 mr-5 mt-lg-5">
    <h3 style="text-align:center;">Rezervasyon Raporlama</h3>
    <button class="btn btn-default" id="btnReport">
        Export to HTML
    </button>
    <div id="report">
        <table class="table table-striped table-bordered dt-responsive nowrap mt-2" style="width:100%">

            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>E-mail</th>
                    <th>Telefon Numarası</th>
                    <th>Otobüs Gidiş Bilgisi</th>
                    <th>Otobüs Gidiş Bilgisi</th>
                    <th>Lokasyon</th>
                    <th>Otobüs Kalkış Lokasyonu</th>
                    <th>Otobüs Varış Lokasyonu</th>
                    <th>Bilet Sayisi</th>
                    <th>Hotel Giriş Tarihi</th>
                    <th>Hotel Çıkış Tarihi</th>
                    <th>Oda Sayisi</th>
                    <th>Otobüs Fiyatı</th>
                    <th>Hotel Fiyatı</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var x in Model)
                {
                    if (x.IsDeleteHotel != "Delete" || x.IsDeletePlane != "Delete")
                    {
                        <tr>

                            <td>@x.Name</td>
                            <td>@x.Surname</td>
                            <td>@x.Email</td>
                            <td>@x.TelNumber</td>

                            @if (x.IsDeletePlane != "Delete")
                            {
                                <td>@x.GidişTarihi</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeletePlane != "Delete")
                            {
                                <td>@x.DönüşTarihi</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeleteHotel != "Delete")
                            {
                                <td>@x.Lokasyon</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeletePlane != "Delete")
                            {
                                <td>@x.KalkışLokasyonu</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }

                            @if (x.IsDeletePlane != "Delete")
                            {
                                <td>@x.VarışLokasyonu</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeletePlane != "Delete")
                            {
                                <td>@x.BiletSayisi</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeleteHotel != "Delete")
                            {
                                <td>@x.HotelGirişTarihi</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeleteHotel != "Delete")
                            {
                                <td>@x.HotelÇıkışTarihi</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeleteHotel != "Delete")
                            {
                                <td>@x.OdaSayisi</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeletePlane != "Delete")
                            {
                                <td>@x.PlaneFiyat</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }
                            @if (x.IsDeleteHotel != "Delete")
                            {
                                <td>@x.HotelFiyat</td>
                            }
                            else
                            {
                                <td>İptal Edilmiştir</td>
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script>
        $('#btnReport').click(function () {
            document.body.innerHTML = document.all.item("report").innerHTML
            window.print()
            window.location.reload()
        })
    </script>
</body>
</html>

